{% extends 'base.html' %}

{% block content %}
    {# siempre lg-7#}

    <div class="col-lg-7">
        <div>
            <h2>Reporte de notas.</h2>
        </div>
        <div class="wall">
            <div class="card">
                <div class="card-body row" style="width: 800px; height: 1200px">

                    <div id="printArea">
                        <style>
                            table, td, tr {
                                border: blue 1px solid;
                            }
                        </style>
                        <table width="100%" cellspacing="1" align="center" border="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <table width="95%" cellspacing="1" align="center">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table width="100%" border="0" cellspacing="2">
                                                        <tbody>
                                                            <tr>

                                                                <td align="center" rowspan="2" width="15%"><img border="0" src="" alt="Logo" width="100px">

                                                                </td>
                                                                <td width="70%" align="center" valign="bottom">
                                                                    <font size="2"></font>
                                                                </td>

                                                              <td width="15%" rowspan="2" align="center">

                                                              </td>

                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="top">
                                                                    Resumen de apoderados 2017<br>
                                                                    1° Semestre
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <br>
                                                    <table width="100%" border="0" cellspacing="2">

                                                        <tbody align="left">
                                                            <tr>
                                                                <td>
                                                                    <b>Alumno:&nbsp;</b>
                                                                </td>
                                                                <td>
                                                                    <b>Cristopher Gonzalez</b>
                                                                </td>
                                                                <td>
                                                                    <b>Run:&nbsp;</b>
                                                                </td>
                                                                <td>11.111.111-1</td>

                                                            </tr>

                                                            <tr>
                                                                <td>
                                                                    <b>Profesor Jefe: </b>
                                                                </td>
                                                                <td>
                                                                    Octavio Cubillos
                                                                </td>
                                                                <td>

                                                                </td>
                                                                <td>

                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td>
                                                                    <b>Curso:</b>
                                                                </td>
                                                                <td>
                                                                    Sexto Año - A
                                                                </td>

                                                                <td>
                                                                    <b>Matrícula:</b>
                                                                </td>
                                                                <td>
                                                                    118
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Año Escolar:
                                                                </td>
                                                                <td colspan="3" >
                                                                    <b>2017</b>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <script language="javascrit">

                        $(function() {
                            $('#strnota').tooltip({
                            });
                        });
                        </script>

                        <table width="100%" cellspacing="1" align="center" border="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <table width="95%" cellspacing="1" align="center" >
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table width="100%" border="0" cellspacing="0" class="">
                                                            <tbody>
                                                                <tr align="center">
                                                                    <th>
                                                                        <b>Asignatura</b>
                                                                    </th>

                                                                    <th align="center">
                                                                        <b>N1</b>
                                                                    </th>
                                                                    <th align="center">
                                                                        <b>N2</b>
                                                                    </th>
                                                                    <th align="center">
                                                                        <b>N3</b>
                                                                    </th>
                                                                    <th align="center">
                                                                        <b>N4</b>
                                                                    </th>
                                                                    <th align="center">
                                                                        <b>N5</b>
                                                                    </th>
                                                                    <th align="center">
                                                                        <b>N6</b>
                                                                    </th>
                                                                    <th align="center">
                                                                        <b>N7</b>
                                                                    </th>
                                                                    <th align="center">
                                                                        <b>N8</b>
                                                                    </th>
                                                                    <th align="center">
                                                                        <b>N9</b>
                                                                    </th>
                                                                    <th align="center">
                                                                        <b>N10</b>
                                                                    </th>
                                                                    <th>
                                                                        PS1
                                                                    </th>
                                                                    <th>
                                                                        <b>P.F</b>
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        Lenguaje y comunicación
                                                                    </td>
                                                                    <td>
                                                                       4.0
                                                                    </td>
                                                                    <td>
                                                                       3.0
                                                                    </td>
                                                                    <td>
                                                                       3.6
                                                                    </td>
                                                                    <td>
                                                                         2.5
                                                                    </td>
                                                                    <td>
                                                                       5.6
                                                                    </td>
                                                                    <td>
                                                                       3.7
                                                                    </td>
                                                                    <td>
                                                                       5.5
                                                                    </td>
                                                                    <td>
                                                                       6.6
                                                                    </td>
                                                                    <td>
                                                                         6.0
                                                                    </td>
                                                                    <td>
                                                                       5.4
                                                                    </td>
                                                                    <td>
                                                                        4.5
                                                                    </td>
                                                                    <td>
                                                                        <b>4.9</b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        Lenguaje y comunicación
                                                                    </td>
                                                                    <td>
                                                                       4.0
                                                                    </td>
                                                                    <td>
                                                                       3.0
                                                                    </td>
                                                                    <td>
                                                                       3.6
                                                                    </td>
                                                                    <td>
                                                                         2.5
                                                                    </td>
                                                                    <td>
                                                                       5.6
                                                                    </td>
                                                                    <td>
                                                                       3.7
                                                                    </td>
                                                                    <td>
                                                                       5.5
                                                                    </td>
                                                                    <td>
                                                                       6.6
                                                                    </td>
                                                                    <td>
                                                                         6.0
                                                                    </td>
                                                                    <td>
                                                                       5.4
                                                                    </td>
                                                                    <td>
                                                                        4.5
                                                                    </td>
                                                                    <td>
                                                                        <b>4.9</b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        Lenguaje y comunicación
                                                                    </td>
                                                                    <td>
                                                                       4.0
                                                                    </td>
                                                                    <td>
                                                                       3.0
                                                                    </td>
                                                                    <td>
                                                                       3.6
                                                                    </td>
                                                                    <td>
                                                                         2.5
                                                                    </td>
                                                                    <td>
                                                                       5.6
                                                                    </td>
                                                                    <td>
                                                                       3.7
                                                                    </td>
                                                                    <td>
                                                                       5.5
                                                                    </td>
                                                                    <td>
                                                                       6.6
                                                                    </td>
                                                                    <td>
                                                                         6.0
                                                                    </td>
                                                                    <td>
                                                                       5.4
                                                                    </td>
                                                                    <td>
                                                                        4.5
                                                                    </td>
                                                                    <td>
                                                                        <b>4.9</b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        Lenguaje y comunicación
                                                                    </td>
                                                                    <td>
                                                                       4.0
                                                                    </td>
                                                                    <td>
                                                                       3.0
                                                                    </td>
                                                                    <td>
                                                                       3.6
                                                                    </td>
                                                                    <td>
                                                                         2.5
                                                                    </td>
                                                                    <td>
                                                                       5.6
                                                                    </td>
                                                                    <td>
                                                                       3.7
                                                                    </td>
                                                                    <td>
                                                                       5.5
                                                                    </td>
                                                                    <td>
                                                                       6.6
                                                                    </td>
                                                                    <td>
                                                                         6.0
                                                                    </td>
                                                                    <td>
                                                                       5.4
                                                                    </td>
                                                                    <td>
                                                                        4.5
                                                                    </td>
                                                                    <td>
                                                                        <b>4.9</b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        Lenguaje y comunicación
                                                                    </td>
                                                                    <td>
                                                                       4.0
                                                                    </td>
                                                                    <td>
                                                                       3.0
                                                                    </td>
                                                                    <td>
                                                                       3.6
                                                                    </td>
                                                                    <td>
                                                                         2.5
                                                                    </td>
                                                                    <td>
                                                                       5.6
                                                                    </td>
                                                                    <td>
                                                                       3.7
                                                                    </td>
                                                                    <td>
                                                                       5.5
                                                                    </td>
                                                                    <td>
                                                                       6.6
                                                                    </td>
                                                                    <td>
                                                                         6.0
                                                                    </td>
                                                                    <td>
                                                                       5.4
                                                                    </td>
                                                                    <td>
                                                                        4.5
                                                                    </td>
                                                                    <td>
                                                                        <b>4.9</b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        Lenguaje y comunicación
                                                                    </td>
                                                                    <td>
                                                                       4.0
                                                                    </td>
                                                                    <td>
                                                                       3.0
                                                                    </td>
                                                                    <td>
                                                                       3.6
                                                                    </td>
                                                                    <td>
                                                                         2.5
                                                                    </td>
                                                                    <td>
                                                                       5.6
                                                                    </td>
                                                                    <td>
                                                                       3.7
                                                                    </td>
                                                                    <td>
                                                                       5.5
                                                                    </td>
                                                                    <td>
                                                                       6.6
                                                                    </td>
                                                                    <td>
                                                                         6.0
                                                                    </td>
                                                                    <td>
                                                                       5.4
                                                                    </td>
                                                                    <td>
                                                                        4.5
                                                                    </td>
                                                                    <td>
                                                                        <b>4.9</b>
                                                                    </td>
                                                                </tr>
                                                                <tr bgcolor="#CEE1FB">
                                                                    <!--<td colspan="" align="right"><B>Promedio General  :</B></td>-->
                                                                    <td>
                                                                        <b>Promedio General Alumno </b>
                                                                    </td>
                                                                    <td colspan="10">

                                                                    </td>
                                                                    <td>
                                                                        <b>4.9</b>
                                                                    </td>
                                                                    <td>
                                                                        <b>4.9</b>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>

                                    </td>

                                    </tr>
                            </tbody>
                        </table>
 				    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock content %}