{% extends 'base.html' %}

{% block content %}
    {# siempre lg-7#}

    <script>

    var suma= 0;
    var total=0;
    sumaValor = function (x) {
        var costoMatricula = $("#id_rode").val();
        var costoArancel = $("#id_tariff").val();
        var abono = $("#id_payment").val();
        suma = parseInt(costoMatricula) + parseInt(costoArancel);
        total = parseInt(suma) - parseInt(abono);

        if (abono < 1){
            total = suma;
        }

        document.getElementById('aPagar').innerHTML = "     <label>Total a pagar:</label>" +
            "                        <input type=\"text\" name=\"total\" hidden value=\""+suma+"\" class=\"form-control\" />"+
            "                        <input type=\"text\" name=\"\" maxlength=\"12\" value=\"$"+suma+"\" class=\"form-control\" disabled />";

        document.getElementById('difPagar').innerHTML = "     <label>Total restante:</label>" +
            "                        <input type=\"text\" name=\"remaining\" id=\"id_remaining\" hidden value=\""+total+"\" id=\"id_total\" class=\"form-control\" />"+
            "                        <input type=\"text\" name=\"\"  value=\"$"+total+"\" class=\"form-control\" disabled />"

    };
    </script>

    <div class="col-lg-7">
        <h1>admin Attorney</h1>
        <div class="wall">

        <div class="card">
            <div class="card-body row">

                <div class="col-lg-2">
                    <img class="img-wall img-fluid rounded-circle mx-auto d-block" src="https://image.flaticon.com/icons/png/512/327/327126.png">
                </div>

                <div class="col-lg-10">
                   <form method="POST">
                                {% csrf_token %}
                   <h4>Datos del matricula.</h4>
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <label>Fecha de matricula :</label>
                            <h5>{{ now }}</h5>
                        </div>
                        <div class="col-lg-6 form-group">
                            <label>Curso matriculado:</label>

                            <select name="grade" id="id_grade" class="custom-select" style="width: 100%">
                                <option value="0">Abrir y seleccionar curso</option>
                                {% for foo in grade %}
                                    <option value="{{ foo.id }}">{{ foo.number }}° {{ foo.latter }} - {{ foo.level }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <label>Monto matricula:</label>
                            <select class="custom-select" style="width: 100%"  name="rode" required id="id_rode" onchange="sumaValor(this);">
                                <option selected value="0">Abrir y seleccionar el monto</option>
                                <option value="20000">$20.000</option>
                                <option value="25000">$25.000</option>
                                <option value="30000">$30.000</option>
                            </select>
                        </div>
                        <div class="col-lg-6 form-group">
                            <label>Monto arancel:</label>
                            <select class="custom-select" style="width: 100%" name="tariff" required id="id_tariff" onchange="sumaValor(this);">
                                <option selected value="0">Abrir y seleccionar el monto</option>
                                <option value="300000">$300000</option>
                                <option value="350000">$350000</option>
                                <option value="400000">$400000</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 form-group" id="aPagar" >
                            <label>Total a pagar:</label>
                            <input type="text" name="" maxlength="12" value="$0" class="form-control" disabled />
                        </div>
                        <div class="col-lg-6 form-group">
                            <label>Monto recibido:</label>
                            <input type="text" name="payment" class="form-control" id="id_payment" onkeyup="sumaValor(this);" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 form-group" id="difPagar" >
                            <label>Total restante:</label>
                            <input type="text" name="remaining" class="form-control" required id="id_remaining"  value="$0"  disabled />
                        </div>
                        <div class="col-lg-6 form-group">
                            <label>Colegio anterior:</label>
                            <input type="text" name="" maxlength="12" value="" class="form-control" id="" placeholder="Ej. colegio Sta. Maria de los andes." required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <label>Monto mensualidad:</label>
                            <input type="text" name="monthly" class="form-control" id="id_monthly"  placeholder="$0" onkeyup="sumaValor(this);" required />
                        </div>
                        <div class="col-lg-6 form-group">
                            <label>Periodo de matricula:</label>
                            <select name="period" class="form-control custom-select" id="id_period" style="width: 100%">
                                <option selected>Abrir y seleccione periodo</option>
                                <option value="1">2017</option>
                                <option value="2">2018</option>
                            </select>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 3%">
                        <div class="col-lg-12" align="right">
                            <input type="reset" class="btn btn-secondary" value="Limpiar" >
                            <span style="padding-right: 5%"></span>
                            <!--<input type="submit" class="btn btn-info" value="Volver" > -->
                            <a href="javascript:history.back()"> <button type="button" class="btn btn-info">Volver</button></a>
                            <span style="padding-right: 5%"></span>
                            <input type="submit" class="btn btn-primary" value="Guardar" >
                        </div>
                    </div>
                   </form>
                </div>



            </div>
        </div>


    </div>
    </div>


{% endblock content %}