
<div>
    <h2>Mi</h2>
</div>

<div class="wall">

    <div class="card">
        <div class="card-body row">

            <div class="col-lg-2">
                <img class="img-wall img-fluid rounded-circle mx-auto d-block" src="https://bootstrap-themes.github.io/application/assets/img/avatar-dhg.png">
            </div>

            <div class="col-lg-8">
               <h5>Profesor de Historia ha agrado una nota!</h5>
                <p>Revisen sus notas muchachos.</p>
            </div>

            <div class="col-lg-2 justify-content-lg-end">
                <p class="time-wall">Hace 2 horas</p>
            </div>


        </div>
    </div>


    <div class="card">
        <div class="card-body row">

            <div class="col-lg-2">
                <img class="img-wall img-fluid rounded-circle mx-auto d-block" src="https://bootstrap-themes.github.io/application/assets/img/avatar-dhg.png">
            </div>

            <div class="col-lg-8">
               <h5>Profesor de Historia ha agrado una nota!</h5>
                <p>Revisen sus notas muchachos.</p>
            </div>

            <div class="col-lg-2 justify-content-lg-end">
                <p class="time-wall">Hace 2 horas</p>
            </div>


        </div>
    </div>

        <div class="card">
        <div class="card-body row">

            <div class="col-lg-2">
                <img class="img-wall img-fluid rounded-circle mx-auto d-block" src="https://bootstrap-themes.github.io/application/assets/img/avatar-dhg.png">
            </div>

            <div class="col-lg-8">
               <h5>Profesor de Historia ha agrado una nota!</h5>
                <p>Revisen sus notas muchachos.</p>
            </div>

            <div class="col-lg-2 justify-content-lg-end">
                <p class="time-wall">Hace 2 horas</p>
            </div>


        </div>
    </div>


        <div class="card">
        <div class="card-body row">

            <div class="col-lg-2">
                <img class="img-wall img-fluid rounded-circle mx-auto d-block" src="https://bootstrap-themes.github.io/application/assets/img/avatar-dhg.png">
            </div>

            <div class="col-lg-8">
               <h5>Profesor de Historia ha agrado una nota!</h5>
                <p>Revisen sus notas muchachos.</p>
            </div>

            <div class="col-lg-2 justify-content-lg-end">
                <p class="time-wall">Hace 2 horas</p>
            </div>


        </div>
    </div>

</div>