{% extends 'base.html' %}
{% load static %}



{% block login_content %}
<div class="container">
    <div class="row justify-content-center">

        <div class="col-lg-4 card-form">
            <div class="card">
                <div class="card-body">

                    <form class="form-signin" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <h4 class="text-center">ERP College</h4>
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="username">Rut</label>
                            <div class="input-group mb-2 mb-sm-0">
                                <div class="input-group-addon"><i class="material-icons">person</i></div>
                                <input type="text" class="form-control" id="username" name="username" placeholder="RUT" autofocus>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="password">Contraseña</label>
                            <div class="input-group mb-2 mb-sm-0">
                                <div class="input-group-addon"><i class="material-icons">lock</i></div>
                                <input type="text" class="form-control" id="password" name="password" placeholder="Contraseña">
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">Ingresar</button>
                        </div>

                    </form>

                </div>
            </div>
        </div><!--col-->
    </div><!--row-->

    <div class="row justify-content-center">
        <div class="col-lg-4 div-help">
            <p><i class="material-icons">account_circle</i>Alumno: 11111111-1 alumno123</p>
        </div>
    </div>

</div>
{% endblock login_content %}