{% load static %}

<!-- ---------- Profile ---------- -->
<div class="card">
    <img class="card-img-top" data-src="holder.js/100px180/" alt="" src="" data-holder-rendered="true" style="background-color: #3B4552">
    <div class="card-body text-center">
        <img class="profile rounded-circle mx-auto d-block" src="{% static 'img/profile/user_m.png' %}">

        <h6 class="card-title">Cristopher Alejandro</h6>
        <h6 class="card-title mb-4">Gonzalez Villalon</h6>

        <p class="card-text">Alumno</p>
        <p class="card-text">4° Medio A</p>

  </div>
</div>
