{% url 'module_common:common-home' as common_home_url %}
{% url 'module_student:student-qualifications' as qualifications_url %}






<div class="menu">
    <div class="card card-menu {% if request.path == common_home_url %}active{% endif %}">
        <a href="{% url 'module_common:common-home' %}">
            <div class="card-body row">
                <div class="col-lg-3">
                    <i class="material-icons md-2x">view_quilt</i>
                </div>
                <div class="col-lg-9">
                    <p><strong>Mi Muro</strong></p>
                </div>
            </div>
        </a>
    </div>

    <div class="card card-menu">
        <a href="">
            <div class="card-body row">
                <div class="col-lg-3">
                    <i class="material-icons md-2x">event</i>
                </div>
                <div class="col-lg-9">
                    <p><strong>Mi Horario</strong></p>
                </div>
            </div>
        </a>
    </div>

    <div class="card card-menu {% if request.path == qualifications_url %}active{% endif %}">
        <a href="{% url 'module_student:student-qualifications' %}">
            <div class="card-body row">
                <div class="col-lg-3">
                    <i class="material-icons md-2x">assignment</i>
                </div>
                <div class="col-lg-9">
                    <p><strong>Mis Notas</strong></p>
                </div>
            </div>
        </a>
    </div>

    <div class="card card-menu">
        <a href="">
            <div class="card-body row">
                <div class="col-lg-3">
                    <i class="material-icons md-2x">assignment_turned_in</i>
                </div>
                <div class="col-lg-9">
                    <p><strong>Mi Asistencia</strong></p>
                </div>
            </div>
        </a>
    </div>



{#    if apoderado habilitar anotaciones#}

</div>