{% extends 'ModuleCommon/base.html' %}




{% block base_content %}
    <div class="container-fluid">
        <div class="row justify-content-md-center">

            <div class="col-lg-2">
                {% include 'ModuleCommon/components/profile.html' %}

{#                TODO: el menu depende del grupo del user, 1 por cada modulo??#}
{#                {% include 'ModuleCommon/components/menu.html' %}#}

            </div>

            <div class="col-lg-5">
                {% include 'ModuleCommon/components/wall.html' %}
            </div>

            <div class="col-lg-2">
                {% include 'ModuleCommon/components/extra.html' %}
            </div>

        </div>
    </div>



{% endblock base_content %}